.main{
    height:450px;
    width:350px;
    border:1px solid rgb(223, 216, 216);
    justify-content: center;
    float: left;
    padding: 20px;
    margin-top: 50px;
    
}

.insta{
    font-size: 64px;
    margin: 20px;
    text-align: center;
    padding:8px;
    font-family:Billabong;
}
.login-input{
    width: 80%;
    height:40px;
    margin: 10px;
    margin-left: 20px;
    border:1px solid rgb(223, 216, 216);
   padding-left: 10px;
   border-radius: 5px;
}
.login{
    width: 83%;
    margin:20px;
    border-radius: 5px;
    border:1px solid rgb(223, 216, 216);
    height: 30px;
    background-color: cornflowerblue;
    color: cornsilk;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
   
    
}
.main2{
    height:40px;
    margin:auto;
    margin-top: 50px;
    border:1px solid rgb(223, 216, 216);
    text-align: center;
    padding: 10px 50px 0px 50px;
}
.OR{
    display: flex;
    align-items:center;
    
}
.OR h5{
    padding:0 2rem;
}

.OR .line1{
    flex: 1;
    height: 1px;
    background-color: rgb(230, 224, 224);
    margin-left: 20px;
    
}
.OR .line2{
    flex: 1;
    height: 1px;
    background-color: rgb(219, 211, 211);
    
    margin-right: 40px;
}
.face{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornflowerblue;
 margin-left: 100px;
 
}
.photo{
    background:url( "9364675fb26a.png"); 
    background-size: 450px;
    background-repeat: no-repeat;
    height: 700px;
    align-self: center;
    max-width: 500px;
    margin-left:300px;
    flex-direction: row;
    width: 50%;
    float: left;
    margin-top: 20px;
   
    
    
}
.link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornflowerblue;
}
.gif{
    background:url("output_ZFG17l.gif");
    background-size:257px 460px ;
    background-repeat: no-repeat;
    height:63%;
    align-self: center;
    margin-left:140px;
    flex-direction: row;
    width:100%;
    margin-top:90px;
    margin-bottom:100px;
   
}
